<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>
            Welcome to this simple game!
        </h1>
        <h3 id="startMsg" class="text-center"> Connect a line of four chips to win:)
        </h3>
        
        <table align='center' class="board">
{% for i in "abcdef" %}
            <tr>
                {% for j in "abcdefg" %}
                <td>
                    <button type="button"></button>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <div>
        </div>
    </div>
</div>
</body>
</html>
